<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script>
    function search() {
        let query=document.getElementById('q').value;
        location.href="/api/v1/spaces/search?q="+query;
       
    }
</script>

<title>header</title>
</head>
<body>
<header th:fragment="header">
<div class="header_wrap">
	<div class="header_logo">
		<a href="/" id="logo">see0gan</a>
	</div>
	<div class="search_box">
		<img class="icon_search" alt="검색" th:src="@{/icon/search.png}" width="24">
		<input type="text" name="" id="q" class="search_txtbar" placeholder="공간명,공간유형으로 찾아보세요"
				onkeyup="if(window.keyCode===13){search()}"/>
		<div class="sp_insert_nav"><a href="/hostCenter">내 공간 등록하기</a></div>
		<button class="btn_menu" onclick="location.href='/userprofile'">
			<img id="icon_menu" alt="메뉴" th:src="@{/icon/menu_bar.png}" width="24">
		</button>
	</div>
	
</div>
</header>
</body>
</html>